body {
    padding: 15px;
}

.cross {
    opacity: 0;
    font-size: 7rem;
    width: 100px;
}

.board {
    position: relative;
    width: 300px;
}

.grid {
    display: flex;
    position: absolute;
    top: 0px;
}