body {
    padding: 15px;
}

.cross {
    font-size: 4.5rem;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.board {
    position: relative;
    width: 315px;
}

.board > img {
    display: block;
    width: 100%;
}

.grid {
    position: absolute;
    top: 0px;
    width: 300px;
}