@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	color: white;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (prefers-color-scheme: light) {
    body {
      color: #343434;
      background: linear-gradient(#6a89cc, #b8e994) !important;
    }
    div {
      color: #343434;
    }
}

div {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-size: cover;
}

div h1 {
    font-size: 190px;
    margin: 0;
    color: black;
    letter-spacing: 20px;
    background: url(404.jpg) center no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 10px;
    font-family: 'RobotoSlabLight', serif;
}

div a {
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

div a:hover {
    background: #e55039;
}

@font-face {
  font-family: RobotoSlabLight;
  src: url('RobotoSlab-ExtraLight.ttf') format('ttf');
}
