@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

@media (prefers-color-scheme: dark) {
    body {
      color: whitesmoke;
      background: linear-gradient(#380036, #0CBABA) !important;
    }
    div {
      color: whitesmoke;
    }
}.

@media (prefers-color-scheme: light) {
    body {
      color: #343434;
      background: linear-gradient(#6a89cc, #b8e994) !important;
    }
    div {
      color: #343434;
    }
}

div {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-size: cover;
}

div h1 {
    font-size: 190px;
    margin: 0;
    color: black;
    letter-spacing: 20px;
    background: url(404.jpg) center no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 10px;
}

div a {
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

div a:hover {
    background: #e55039;
}
