 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
* {
    font-family: 'Roboto Slab', serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    scroll-behavior: smooth;
}

body {
 background-image: url("bg.jpg");
 background-attachment: fixed;
}

.square-rotate-2 {
  --size: 100px;
  --accent-opacity: .25;
  --color: #ff7373;
  --animation-timing-function: linear;
  --animation-duration: 2s;
  position: relative;
  width: var(--size);
  height: var(--size);
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.square-rotate-2::before,
.square-rotate-2::after {
  content: '';
  position: absolute;
  transform: rotate(0deg);
  animation: var(--animation-timing-function) var(--animation-duration) infinite square-rotate-2-animation;
}

.square-rotate-2::before {
  inset: 0;
  background-color: var(--color);
  opacity: var(--accent-opacity);
}

.square-rotate-2::after {
  top: 12.5%;
  left: 12.5%;
  width: 75%;
  height: 75%;
  background-color: var(--color);
  animation-direction: reverse;
}

@keyframes square-rotate-2-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

@media (min-width: 992px) {
 .underline {
   position: relative;
   color: black;
   text-decoration: none;
 }
 
 .underline:after {
   content: '';
   position: absolute;
   bottom: -2px;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: orange;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
 }
 
 .underline:hover:after {
   transform: scaleX(1);
 }

#myDiv {
  display: none;
  text-align: center;
}
