.nav {
  width: 140px;
  min-height: 70px;
  padding: 15px;
  background-color: coral;
  border-radius: 20px
}
.nav:hover {
  background-color: coral;
  box-shadow: 10px 10px;
}
* {
    font-family: 'Montserrat', sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerbtn {
  background-color: #0080AF;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  transition: 0.3s;
}

.headerbtn:hover {
  background: #9EC8D6;
}

.page {
  height: 100vh;
}

#page2 {
  background-color: none;
}
