body {
    background: url(https://wallpapers.com/images/featured/paris-zy4x2ow5p7j5qi4a.jpg);
    background-attachment: fixed;
}
nav {
    background: linear-gradient(90deg, rgba(13,110,253,1) 15%, rgba(147,194,255,1) 100%) !important;
    color: #fff !important;
    --bs-navbar-color: #fff !important;
    --bs-navbar-toggler-border-color: #fff !important;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e) !important;
}
a {
    color: #fff !important;
}