h1 {
    padding: 0 .25rem !important;
    margin: 0 -.25rem !important;
    transition: color .3s ease-in-out, border .3s ease-in-out;
}
h1:hover {
    border-bottom: 6px solid transparent;
    border-image: linear-gradient(0.25turn, #DE6262, #FFB88C);
    border-image-slice: 1;
}
h1:not(:hover) {
    animation: .5s animateheading;
}
@keyframes animateheading {
    from {
        border-bottom: 10px solid transparent;
    }
    to {
        border-bottom: 0px solid transparent;
    }
}