body, header, nav {
  font-family: Poppins;
}

body {
  margin: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

ol, ul {
    padding-left: 0 !important;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: grey;
  border-bottom: 3px solid orange;
}

.active {
  border-bottom: 3px solid orange;
}

@font-face {
  font-family: Poppins;
  src: url(//theguythatloveshtml.github.io/ria/Poppins-Regular.ttf);
}

header {
  color: white;
  padding-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 70px;
  justify-content: center;
  background-color: #333;
}
