@import "https://unpkg.com/open-props@1.6.17/easings.min.css";

.start {
    display: block;
}

.page {
    display: none;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

.load {
    animation: flip var(--ease-elastic-in-1) 600ms infinite alternate;
}

@keyframes flip {
    100% {
      transform: translate(-50%,-50%) rotateY(180deg) !important;
    }
  }  

body {
    min-height: 100vh;
    padding: 20px;
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}  

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}