.start {
    display: block;
}

.page {
    animation-name: animatebottom;
    animation-duration: 1s;
}

body {
    min-height: 100vh;
    padding: 20px;
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}