@import "https://unpkg.com/open-props@1.6.17/easings.min.css";

.start {
    display: block;
    position: fixed;
    z-index: 10;
    align-items: center;
    padding-left: calc(50vw - 7rem);
    padding-top: calc(50vh - 7rem);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    transition: opacity 1.1s;
}

.page {
    display: none;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    color: #fff !important;
    background: none;
}

body {
    min-height: 100vh;
    padding: 20px;
    background: url(https://codeyoursite.github.io/cool-bg.png) no-repeat fixed;
    background-repeat: none;
}

body:not(.start) {
    color: #fff !important;
}

.l-p {
    font-size: 2rem;
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}  

@keyframes animatebottom { 
    from { bottom:-100px; opacity:0 } 
    to { bottom:0; opacity:1 }
}
